@font-face {
  font-family: 'lemon';
  src: url(fonts/animeace2_bld.otf);
}

.box {
  font-size: 21px;
  font-family: 'lemon', sans-serif;
}
body {
  background: linear-gradient(to top left, #a659ff, #c99ffc);
}
.next {
  background: rgb(255, 50, 50);
  margin-top: 50px;
  margin-left: 30px;
  font-size: 55px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-family: cursive;
  border-radius: 20px;
}

.housing {
  padding-left: 800px;
}

.button {
  font-size: 40;
}

.buy {
  margin-left: 100px;
  font-family: 'lemon', sans-serif;
}

.hidden {
  display: none;
}

.size {
  font-size: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.loan {
  margin-top: 50px;
  border: none;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 35px;
}

.paybackLoan {
  margin-top: 50px;

  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 40px;
}

.loan {
  background: rgb(92, 252, 92);
  border-radius: 20px;
}

.myt4u--cost {
  margin-left: 45px;
}
.gro4u--cost {
  margin-left: 44px;
}
.gr8--cost {
  margin-left: 41px;
}
.lymp4u--cost {
  margin-left: 42px;
}
.ok4u--cost {
  margin-left: 40px;
}

.buyBtn {
  background: gold;
  border: none;
  font-family: 'lemon', sans-serif;
}

.sellbtn {
  background: rgb(255, 50, 50);
  border: none;
  font-family: 'lemon', sans-serif;
}

.yessir {
  background: rgb(92, 252, 92);
  border: none;
}
