@font-face {
  font-family: 'lemon';
  src: url(fonts/animeace2_bld.otf);
}

.box {
  font-size: 21px;
  font-family: 'lemon', sans-serif;
}
body {
  background: linear-gradient(to top left, #a659ff, #c99ffc);
}
.next {
  background: rgb(255, 50, 50);
  margin-top: 50px;
  margin-left: 30px;
  font-size: 55px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-family: cursive;
  border-radius: 20px;
}

.housing {
  padding-left: 900px;
}

.button {
  font-size: 40;
}

.buy {
  margin-left: 100px;
  font-family: 'lemon', sans-serif;
}

.hidden {
  display: none;
}

.size {
  font-size: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.loan {
  margin-top: 50px;
  border: none;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 35px;
}

.paybackLoan {
  margin-top: 50px;

  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 40px;
}

.loan {
  background: rgb(92, 252, 92);
  border-radius: 20px;
}

.myt4u--cost {
  position: fixed;
  left: 640px;
  bottom: 310px;
}
.gro4u--cost {
  position: fixed;
  left: 640px;
  bottom: 280px;
}
.gr8--cost {
  position: fixed;
  left: 640px;
  bottom: 250px;
}
.lymp4u--cost {
  position: fixed;
  left: 640px;
  bottom: 220px;
}
.ok4u--cost {
  position: fixed;
  left: 640px;
  bottom: 190px;
}

.myt4uRange {
  position: fixed;
  left: 360px;
  bottom: 310px;
}
.gro4uRange {
  position: fixed;
  left: 360px;
  bottom: 280px;
}
.gr8Range {
  position: fixed;
  left: 360px;
  bottom: 250px;
}
.ok4uRange {
  position: fixed;
  left: 360px;
  bottom: 220px;
}
.lymp4uRange {
  position: fixed;
  left: 360px;
  bottom: 190px;
}
.myt4uBuyPrice {
  position: fixed;
  left: 925px;
  bottom: 310px;
}
.gro4uBuyPrice {
  position: fixed;
  left: 925px;
  bottom: 280px;
}
.gr8BuyPrice {
  position: fixed;
  left: 925px;
  bottom: 250px;
}
.ok4uBuyPrice {
  position: fixed;
  left: 925px;
  bottom: 220px;
}
.lymp4uBuyPrice {
  position: fixed;
  left: 925px;
  bottom: 190px;
}
.buy--myt4u {
  position: fixed;
  left: 200px;
  bottom: 310px;
}
.sell--myt4u {
  position: fixed;
  left: 255px;
  bottom: 310px;
}
.buy--gro4u {
  position: fixed;
  left: 200px;
  bottom: 280px;
}
.sell--gro4u {
  position: fixed;
  left: 255px;
  bottom: 280px;
}
.buy--gr8 {
  position: fixed;
  left: 200px;
  bottom: 250px;
}
.sell--gr8 {
  position: fixed;
  left: 255px;
  bottom: 250px;
}
.buy--ok4u {
  position: fixed;
  left: 200px;
  bottom: 220px;
}
.sell--ok4u {
  position: fixed;
  left: 255px;
  bottom: 220px;
}
.buy--lymp4u {
  position: fixed;
  left: 200px;
  bottom: 190px;
}
.sell--lymp4u {
  position: fixed;
  left: 255px;
  bottom: 190px;
}

.yes {
  position: fixed;
  left: 1150px;
  bottom: 580px;
  background: rgb(92, 252, 92);
  border: none;
  font-family: 'lemon', sans-serif;
}
.no {
  position: fixed;
  left: 1210px;
  bottom: 580px;
}
.buyBtn {
  background: gold;
  border: none;
  font-family: 'lemon', sans-serif;
}

.sellbtn {
  background: rgb(255, 50, 50);
  border: none;
  font-family: 'lemon', sans-serif;
}

.yessir {
  background: rgb(92, 252, 92);
  border: none;
}
